<div class="card">
    <div class="card-header">
        Add employee
    </div>
    <div class="card-body">
        <form [formGroup]="employeeForm" (ngSubmit)="sendData()">
            <div class="mb-3">
              <label for="" class="form-label">Name: </label>
              <input type="text"
                class="form-control" name="" formControlName="name" id="" aria-describedby="helpId" placeholder="Write a name">
            </div>

            <div class="mb-3">
              <label for="" class="form-label">Email:</label>
              <input type="email"
                class="form-control" name="" formControlName="email" id="" aria-describedby="helpId" placeholder="Enter your e-mail">
            </div>

            <div class="btn-group" role="group" aria-label="">
                <!--Calls sendData function from the .ts when pressed-->
                <button type="submit" class="btn btn-success">Add</button> 
                <button type="button" class="btn btn-primary">Cancel</button>
            </div>
        </form>
    </div>
</div>
